.productBox{
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.productCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #78b782, #e4f5e7, #57c569);
    width:fit-content;
    padding:10px;
    border: none;
    border-radius: 10px;
    margin:5px;
    clip-path: ellipse(100% 100% at 50% 0%);
}
.ProductInfo {
    font-weight: bold;
    text-align: center;
}
.productBox img{
    width:200px;
    height:200px;
    border-radius: 10px;
}
.productBox button{
    background-color: rgb(216, 217, 219);
    color: black;
    font-size: 24px;
    text-align: center;
    color: rgb(9, 16, 11);
    padding: 10px 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    clip-path: ellipse(100% 100% at 50% 0%);
}