section{
    background-color:green;
    border-radius: 20px;
    margin: 10px;
}
.Navcontainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: sticky;
    padding:10px 0;
}
.Navcontainer .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.Navcontainer .Search_bar{
    display:flex;
    width: 600px;
    background-color: white;
    border-radius: 10px;
}
.input_box{
    border-radius:10px ;
    height: 50px;
    flex-grow: 1;
    background:transparent;
    border: none;
    padding-left: 20px;
}
input::placeholder{
    font-style: italic;
    margin-left: 2px;
}
button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.Navcontainer p{
    font-weight: bold;
    font-style: italic;
    padding-left: 50px;
}
.companylogo{
    display: flex;
}

h1{
    font-size: 24px;
}
.logo{
    width: 50px;
    border-radius: 10px;
}
.icon{
    width:20px;
}
